header {
    text-align: center;
}

h1 {
    background-color: #9e6139;  
}       

#banner {
    width: 100%;
    height: 100px;
    background-image: url("img/grass.jpg");
    background-size: 5%, 5%;
    background-repeat: repeat-x;
}

body {
    background-image: url("img/cobblestone.jpg");
    background-size: 50%;
    background-repeat: repeat;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
}

.nav-button {
    text-decoration: none;
    font-size: max(1.5vw, 2vw);
    padding: 5px;
    color: black;
    background-color: #854F2B;
    border-style: solid;
    border-width: 5px;
    border-color: #61371F;

    border-top-width: 11px;
    border-top-color: #70B237;
}

.nav-button:hover {
    background-color: #C28340;
    border-style: solid;
    border-width: 5px;
    border-color: #854F2B;

    border-top-width: 11px;
    border-top-color: #8FCA5C;
}

.team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.team-photos img {
    width: max(15vw, 25vw);

    background-color: #854F2B;
    border-style: solid;
    border-width: 8px;
    border-color: #61371F;

    border-top-width: 13px;
    border-top-color: #70B237;
}

figcaption {
    text-align: center;
}

.welcome-and-quote {
    text-align: center;
    font-size: max(1vw, 2vw);

    background-color: #b17636;
    border-style: solid;
    border-width: 5px;
    border-color: #854F2B;

    border-top-width: 11px;
    border-top-color: #8FCA5C;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    background-color: #854F2B;
    border-style: solid;
    border-width: 5px;
    border-color: #61371F;

    border-top-width: 11px;
    border-top-color: #70B237;
}

.about-page ul {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto;
  }

table {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.google-form {
    display: flex;
    justify-content: center;
}

iframe {
    width: 50%;
    height: 72vh;
}

footer {
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}