header {
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
}

.nav-button {
    text-decoration: none;
    font-size: max(1.5vw, 2vw);
    padding: 5px;
    color: black;
}

.team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.team-photos img {
    width: max(15vw, 25vw);
}

figcaption {
    text-align: center;
}

.welcome-and-quote {
    text-align: center;
    font-size: max(1vw, 2vw);
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.about-page ul {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto;
  }

table {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.google-form {
    display: flex;
    justify-content: center;
}

iframe {
    width: 50%;
    height: 72vh;
}

footer {
    text-align: center;
}